<h1>Add a Handle to Battle!</h1>


<form action="<%=user_handle_battles(@handle.user_id, @handle.id)%>" method="POST">
	<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>

	<label>
		Instagram Handle:
		<input type="text" name="handle">
	</label>

	<button>Add Handle</button>
</form>
