/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #eeeeee;
	font-family: 'Istok Web', sans-serif;
	color: #262626;
}

#header_image {
	float: right;
}

header {
	background-color: #eeeeee;
	font-family: 'Istok Web', sans-serif;
	float: right;
	text-align: center;
}

#profile {
	border-style:solid;
	border-color:#8f3582;
	border-width:5px;
	border-radius: 100px;
}

button {
	width: 125px;
	background-color: #0898bb;
	padding:15px;
	font-size:18px;
	color: #ffffff;
	border-radius:4px;
	text-decoration:none;
	text-transform: none;
}